body {
    font-family: 'Press Start 2P', cursive;

    .App {
        min-height: 100vh;
    }
}

.page {
    padding-block: 3rem;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(55, 48, 107, 1) 68%, rgba(55, 48, 107, 1) 68%, rgba(102, 52, 127, 0.938813025210084) 100%);
}


.portafolioSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
}


///////////////////// CARD
.cards {
    box-shadow: 0 0 10px 1px $black;
    transition-duration: 0.2s;
    max-width: 18rem;

    &:hover {
        box-shadow: 0 0 20px 1px $black ;
    }
}

.title {
    height: 2rem;
}

.card-img {
    min-height: 153px;
    image-rendering: pixelated;
    border: 4px solid black;
}

.card-date {
    font-size: 12px;
}

.card-text {
    font-size: 14px;
}

.div-carousel-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
}

.cards-wrapper {
    display: flex;
}